<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.text_field :name, autofocus: :true, placeholder: "John" %>
    <%= f.email_field :email%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <hr>
    <%= f.submit "Sign Up", data: {disable_with: 'Creating Account...'}, class: "btn btn-block btn-primary"%>
<% end %>

<%= render "devise/shared/links" %>
