<div id="hide-page">
  <h1 class="page-header text-center">Welcome <%= current_user.name %></h1>



  <% if current_user.activities.any? %>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tr>
          <th>
          <%= activity_sortable 'name' %>
          </th>
          <th>
          <%= activity_sortable 'morality' %>
          </th>
        </tr>
        <% @activities.each do |activity| %>
          <tr>
            <td>
            <%= activity.name %>
            </td>
            <td>
            <%= activity.morality %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= link_to 'Add Activity', new_user_activity_path(current_user), remote: true  %>
          </td>
        </tr>
        <tr>
          <td>
            Total
          </td>
          <td>
            <%= current_user.total_activity_morality %>
          </td>
        </tr>
      </table>
    </div>
  <% else %>
    <%= link_to new_user_activity_path(current_user) do %>
    <h3>No actions currently listed, add an action here</h3>
    <% end %>
  <% end %>
  <% if current_user.items.any? %>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tr>
          <th>
          <%= item_sortable 'name' %>
          </th>
          <th>
          <%= item_sortable 'morality' %>
          </th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td>
            <%= item.name %>
            </td>
            <td>
            <%= item.morality %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= link_to 'Add Item', new_user_item_path(current_user)  %>
          </td>
        </tr>
        <tr>
          <td>
            Total
          </td>
          <td>
            <%= current_user.total_item_morality %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="well">
      <tr>
      <td>
        Your Immorality Score:
      </td>
      <td>
        <%= current_user.total_morality %>
      </td>
    </tr>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= render template: 'activities/new.html.erb' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
