<%= form_tag root_path, :method => 'get', :id => "actions_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="results"><%= render 'results' %></div>
<% end %>

<% @results.each do |result| %>

<%= result.name %>

<% end %>
