

<h1></h1>

<%= form_tag root_path, :method => 'get', :id => "activities_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
  <br>
<ul>
  <% @results.each do |result| %>
    <% if result.kind_of?(Activity) %>
      <li><%= link_to result.name,user_activities_path(current_user.id, activity: { name: result.name, morality: result.morality}), method: :post %></li>
    <% else %>
      <li><%= link_to result.name,user_items_path(current_user.id, item: { name: result.name, morality: result.morality}), method: :post %></li>
    <% end %>
  <% end %>
</ul>
  <div id="results"><%= render 'layouts/results' %></div>
